body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#0a0a0a,#3a4452)
}
.calculator{
  border:1.5px solid white;
  padding:16px;
  border-radius: 16px;
  background:transparent;
  box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}
input{
  width:320px;
  height:30px;
  padding:5px;
  font-size:40px;
  border: none;
  background:transparent;
  text-align:right;
  color:white;
  cursor:pointer;
}
input::placeholder{
  color:white;
}
.operation{
  border: none;
  width:60px;
  height:60px;
  margin:10px;
  border-radius:50%;
  background:transparent;
  color:white;
  font-size:20px;
  box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
  cursor:pointer;
}
button{
  transition:font-size;
  transition-duration:2s;
  transition-property:linear;
}
button:hover{
  font-size:30px;
  background-color:#6dee0a;
  color:black;
  font-weight:bold;
}
#equalbtn{
  background:#fb7c14;
  font-weight:bold;
}
#add,#sub,#mul,#div,#ac,#del,#perc{
  color:#6dee0a;
  background:transparent;
  font-weight:bold;
}


@media (max-width: 400px) {
  *{
    flex-direction: column;
  }
